.header {
  position: fixed;
  background-color: white;
  width: 105%;
  margin-top: -100px;
  height: 230px; }
  .header #lynn_isaac {
    font-family: Londrina Outline;
    font-size: 120px; }
    .header #lynn_isaac a {
      text-decoration: none; }

p {
  color: #090909;
  font-family: Arvo;
  font-size: 20px;
  text-align: justify; }

h2 {
  color: #090909;
  font-family: Arvo;
  font-size: 50px;
  text-align: center; }

.wrapper {
  width: 90%;
  margin: 0 auto; }

#spacer_1 {
  width: 100%;
  height: 130px; }

#story_list {
  text-align: center;
  margin: 0 auto; }
  #story_list li {
    font-family: Londrina Solid;
    font-size: 100px;
    list-style-type: none;
    margin-top: 60px;
    margin-bottom: 60px; }
    #story_list li a {
      text-decoration: none; }

#sharing {
  margin-top: 100px;
  text-align: center;
  margin-left: 32px; }

.st_facebook_custom {
  background: url("http://127.0.0.1:8000/static/icons/facebook.png") no-repeat scroll left top transparent;
  padding: 64px;
  margin-left: 32px; }

.st_twitter_custom {
  background: url("http://127.0.0.1:8000/static/icons/twitter.png") no-repeat scroll left top transparent;
  padding: 64px; }
